*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Gilroy', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: grey;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    position: relative;
}

#right{
    width: 60%;
    height: 100%;
    background-color: white;
}

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;
}

#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1674228288342-d72cf144e5de?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: start;
    background-size: cover;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1670512181061-e24282f7ee78?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr i{
    color: royalblue;
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#textcenter h1{
    font-size: 80px;
    font-weight: 900;
}

#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;

}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}